body {
  font-family: sans-serif;
}

/* .col-md-1 {
  padding:2px;
} */

/* .column {
  width:600px
}

.column2 {
  width:4%
}

.column3 {
  width:7%
} */

.card {
  margin-top: 7px;
}

.copyright {
  padding-top: 50px;
  padding-bottom: 82px;
}

.test {
  text-align: right;
}

.container-fluid {
  padding-left:52px;
  padding-right:52px;
}

.font1 {
  font-size:14px;
}

.font2 {
  font-size:13px;
}

.font3 {
  font-size:22.68px;
}

.font4 {
  font-size:16.8px;
}

.font5 {
  font-size:14px;
}

.font6 {
  font-size:12px;
}

.gray {
  background-color: lightgray;
}

h2 {
  border: solid gray;
}

img.fp {
  float: left;
}

.jumbotron {
  margin-bottom: 7px;
  text-align: center;
}

.picture {
  background-color: mediumpurple;
}

.sidebar {
  background-color: lightgrey;
  padding-right: 14px;
  padding-left: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.top-bar {
  margin-bottom: 30px;
  padding-top: 8px;
}


/* .sidebar2 {
  float: left;
} */