body {
  font-family: sans-serif;
}

.font1 {
  font-size:14px;
}

.font2 {
  font-size:13px;
}

.font3 {
  font-size:22.68px;
}

.font4 {
  font-size:16.8px;
}

.font5 {
  font-size:14px;
}

.font6 {
  font-size:12px;
}

img.fp {
  float: left;
}

.jumbotron {
  text-align: center;
}

.sidebar {
  background-color: lightgrey;
}

/* .sidebar2 {
  float: left;
} */